{% extends "template.html" %}
    {% block list %}

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">

<hr>
  <div class="row">
    <div class="col-dm">
         <div class="card text-white bg-dark mb-3" style="max-width: 9rem;">
              <div class="card-header">Ips detected</div>
              <div class="card-body">
                <h5 class="card-title">{{Result|count}}</h5>

              </div>
            </div>
    </div>
    <div class="col-dm"  id="mapid" style="width: 880px; height: 125px;">
    </div>
      <div class="col-dm" >

    </div>
  </div>
  </div>
</div>



<script>

	var mymap = L.map('mapid').setView([51.505, -0.09], 13);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: '',
		id: 'mapbox.streets'
	}).addTo(mymap);


	L.circle([51.508, -0.11], 500, {

	    color: 'blue',
		fillColor: '#f03',
		fillOpacity: 0.5
	}).addTo(mymap);


	var popup = L.popup();

	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(mymap);
	}

	mymap.on('click', onMapClick);

</script>

            <hr>


<br>
<br>




<table id="myTable" class="table ">
  <thead>
    <tr>
      <th scope="col">IP</th>
      <th scope="col">Asn</th>
      <th scope="col">Title</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
      <th scope="col">Add as</th>

    </tr>
  </thead>
  <tbody>

{%for item in Result|reverse%}
    <tr>
      <th scope="row"><a href='{{item["ip_host"]}}'>{{item["ip_host"]}}</a> </th>
        <td>{{item["asn"][:25]}}</td>
        <td>{{item["title"][:25]}}</td>
        <td>{{item["cidade"]}}</td>
        <td>{{item["estado"]}}</td>
        <td>{{item["data_add"]}}</td>

    </tr>
{% endfor %}


 </tbody>
</table>
        </div>
      </div>
    </div>



        {% endblock %}

